.header{
    display: inline-flex;
    justify-content: center;
    width:100%;
    height: 464px;
    position: relative;
    &__left{
        z-index: 2;
        position: absolute;
        left:0px;
        height:387px;
        width:1098px;
        margin:0;
        background-image: url("../img/PC/\heading-img.jpg");
        background-repeat: no-repeat;
    }

    &__right{
        z-index: 1;
        position: absolute;
        width:780px;
        right:0px;
        height:464px;
        background-image: url("../img/PC/bg_kv.jpg");
        background-repeat: no-repeat;
    }
    &__logo{
         margin:30px 0 0 58px;
        cursor: pointer;
        position: fixed;
        z-index:1000;
    }
    &__container{
        position: absolute;
        left: 839px;
        top: 157px;
        z-index: 4;
        width:400px;
        height:322px;
    }
    &__company{
        font-family: YuGothic;
        font-size: 20px;
        line-height:25px;
        color: white;
    }
    &__top{
        font-family: YuGothic;
        font-size: 20px;
        line-height:25px;
        color: white;
    }
    &__main{

        z-index: 5;
        font-size:72px;
        font-family: Montserrat;
        line-height: 86px;
        color: white;
    }
    &__icon{
        margin-right:7px;
    }
     &__menu{
        margin:36px 0 0 1300px;
        z-index:1000;
        position: fixed;
        font-family: Montserrat;
        font-size: 15px;
        transition: all .3s ease 0s;
        cursor:pointer;

        span{
            width: 30%;
            height: 1px;
            left: -20px;
            display: block;
            background:white;
            position: absolute;
            transition: transform .6s ease-in-out, top .5s ease;

            &:nth-child(1) {
            top: 1px;
            }
            &:nth-child(2) {
            top: 6px;
            }
            &:nth-child(3) {
            top: 11px;
            }

        }
    }

    &__menu:hover {
        cursor: pointer;
        transform: scale(1.3);
    }
}


.white{
    color:white;
}
