.main{
    margin-top:120px;
    height:2600px;
}

.vision{
    margin-bottom:120px;
    margin-left:396px;
    &__top{
        font-family: Montserrat;
        font-size:32px;
        margin-bottom: 25px;
    }
    &__column{
        font-family: YuGothic;
        font-size: 24px;
        margin-bottom:27px
    }
    &__contents{
        font-family: Noto Sans JP Bold;
        font-size:16px;
        line-height: initial;
    }
}

.container{
    display: inline-flex;
    justify-content: center;
    width:100%;
    height: 900px;
    margin-bottom:120px;
    position: relative;

    &__left{
        z-index: 2;
        width:420px;
        height:282.45px;
        left:170px;
        position: absolute;
        background-image: url("../img/PC/ceo-img.jpg");
        background-repeat: no-repeat;
    }

    &__right{
        z-index:1;
        width:770px;
        height:756px;
        top:144px;
        left:500px;
        position:absolute;
        background-image: url("../img/PC/bg_gray.jpg");
    }

    &__block{
        width:400px;
        height:546px;
        margin-top:120px;

        &__top{
            font-family: Montserrat;
            font-size:32px;
            margin-bottom:30px;
        }
        &__main{
            font-family:Noto Sans JP Bold;
            font-size:16px;
            line-height: initial;
        }
    }
}

    .company{
        width: 1100px;
        &__top{
            font-family: Montserrat;
            font-size: 32px;
            border-bottom:2px solid;
            border-color:#DDDDDD;
            padding-bottom:30px;
        }
        table{
            width:800px;
            margin-right:0;
            line-height: 56px;
            margin-bottom: 30px;
        }
        table tr{
            border-bottom:2px solid;
            border-color:#DDDDDD;
            padding-bottom:30px;
        }
        table th{
            text-align: left;
            font-weight: bold;
            width:150px;
        }

        &__map{
            width:1100px;
            height:360px;
        }

    }


