header{
max-width:100%;
}

.header__left{
    position: absolute;
    z-index: 2;
    width: 1100px;
    height: 640px;
    width:100%;
    background-image: url("../img/PC/kv-img.jpg");
    background-repeat: no-repeat;
}

.header__right{
    position: relative;
    z-index: 1;
    left:660px;
    width: 780px;
    height: 740px;
    background-image: url("../img/PC/bg_kv.jpg");
    background-repeat: no-repeat;
}

.header__logo{
    width: 260px;
    height: 28.2px;
    position: absolute;
    top: 30px;
    left:58px;
    z-index: 4;
    cursor: pointer;
}

.header__container{
    position:absolute;
    left: 954px;
    top: 157px;
    z-index: 4;
    width:292px;
    height:322px;
}

.header__company,.header__top{
    font-family: YuGothic;
    font-size: 20px;
    line-height:25px;
    color: white;
}

.header__main{
    z-index: 5;
    font-size:72px;
    font-family: Montserrat;
    line-height: 86px;
    color: white;
}

.header__menu{
    position:absolute;
    left:661px;
    top:36px;
    width: 61px;
    height: 13px;
    z-index:5;
    color: white;
    font-family: Montserrat;
    font-size: 10px;
}
.header__icon{
    m-right:7px;
} 